:root {
    --invalid-border: #ff8585;
    --invalid-text: #ff2f2f;
}

#wrapper {
    justify-content: center;
    align-items: center;
}

#float {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;

    width: 24rem;
    margin-bottom: 80px;
}

#float > .title {
    display: flex;
    flex-direction: column;
    gap: 16px;
    
    width: 100%;

    text-align: center;
}

#float > .title > .logo > a {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;

    color: var(--text-primary);
}

#float > .title > .logo > a > .icon,
#float > .title > .logo > a > .icon > svg { width: 44px; height: 44px; }

#float > .title > .logo > a > .lettering {
    font: bold 1.8rem / 1 sans-serif;
}

.desc {
    display: block;
    height: auto;
    
    color: var(--text-secondary);
    font-size: .82rem;
    line-height: 1.4;
    word-break: keep-all;
}

h2 {
    font-weight: 500;
    font-size: 1.2rem;
    text-align: center;
}

input[type="checkbox"] { display: none; }

/* 
 * Form Box
 */
#float > form {
    display: flex;
    flex-direction: column;
    gap: 16px;

    width: 100%;
    padding: 32px;
    box-sizing: border-box;

    background-color: var(--input-bg);
    box-shadow: 0 0 1px rgba(0, 0, 0, .2), 0 0 4px rgba(0, 0, 0, .02), 0 12px 36px rgba(0, 0, 0, .06);

    border: 1px solid var(--input-border);
    border-radius: 24px;
}

#float > form > p {
    display: flex;
    gap: 10px;

    height: 40px;
    text-align: left;
}

#float > form > p > .text {
    flex-grow: 1;

    padding: 0 16px;

    background-color: var(--input-bg);
    border: 1px solid var(--text-secondary);
    border-radius: 10px;

    font: .82rem sans-serif;

    transition: 40ms ease;
}

#float > form > p > .text:focus {
    border: 1px solid var(--text-primary);
    box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.4);
}

#float > form > .desc {
    display: block;
    font-size: .78rem;
}

#float > form > .desc > a {
    text-decoration: underline;
    color: var(--text-primary);
}

#float > form > .keep {
    display: flex;
    align-items: center;
    gap: 0;

    font-size: .88rem;
}

#float > form > .keep > .icon > svg { width: 20px; height: 20px; }

#float > form > .keep > label { cursor: pointer; }

#float > form > .links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: auto;
}

#float > form > .links > a {
    font-size: .82rem;
    color: var(--text-secondary);
}

.button {
    flex-grow: 1;
    height: 100%;
    border-radius: 10px;

    font: .88rem / 40px sans-serif;
    text-align: center;
}

#float > form > .link {
    justify-content: center;
    height: auto;
    font-size: .88rem;
}

#float > form > p > .card {
    background: var(--text-primary);
    font: .88rem sans-serif;
    color: var(--main-bg);
}

#float > form > p > .card.small {
    font-size: .8rem;
}

#float > form > .divider {
    justify-content: center;
    height: auto;
    color: var(--text-secondary);
    font-size: .88rem;
}

#float > form > p > .social {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
    
    background-color: #fff;
    border: 1px solid #CACACA;

    font-size: .82rem;
}

#float > form > p > .social > .icon { width: 24px; height: 24px; }