#content {
    flex-grow: 1;
    position: relative;
}

#content > .input-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;

    position: absolute;
    top: 30%; left: 50%;
    transform: translateX(-50%);

    width: 80%;
    max-width: 760px;
    margin: 0 auto;
}

#content > .input-box > .hello { font: bolder 1.6rem sans-serif; }

#content > .input-box > .input {
    display: flex;
    flex-direction: column;
    gap: 8px;

    width: 100%;
    padding: 8px;
    box-sizing: border-box;

    background-color: var(--input-bg);
    border: 1px solid var(--input-border);
    border-radius: 24px;
    
    box-shadow: 1px 6px 16px rgba(0, 0, 0, 0.1);
}

/* Textarea */
#prompt {
    height: 48px; max-height: 304px;
    box-sizing: border-box;

    margin: 8px 0 8px 8px; padding: 0 4px 0 0;

    background: none;
    border: none; outline: none;

    font: 300 .96rem / 24px sans-serif;

    resize: none;
    overflow-y: scroll;
}

#prompt::selection {
    background-color: var(--text-primary);
    color: var(--input-bg);
}

#prompt::-webkit-scrollbar { width: 4px; }

#prompt::-webkit-scrollbar-thumb {
    background-color: var(--scroll-color);
    border-radius: 2px;
}

/* Tool Tags */
#content > .input-box > .input > .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;

    height: 32px;
}

#content > .input-box > .input > .bottom > .tags {
    display: flex;
    gap: 6px;
    color: var(--tag-color);
}

#content > .input-box > .input > .bottom > .tags > button {
    width: 32px; height: 32px;

    border: 1px solid var(--text-secondary);
    border-radius: 50%;
}

#content > .input-box > .input > .bottom > .tags > button > svg { width: 20px; height: 20px; }

#content > .input-box > .input > .bottom > .send {
    width: 32px; height: 32px;
    background-color: var(--text-primary);
    border-radius: 50%;
    color: var(--input-bg);
    opacity: .6;
}

#content > .input-box > .input > .bottom > .send.on {
    opacity: 1;
}