body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fcfcfc;
}

#login {
    width: 350px;
    display: flex;
    flex-direction: column;
    align-items: center;    
}


/* ===============================
   logo & description
=============================== */

#login > .logo {
    margin-bottom: 16px;
}

#login > .logo > a {
    font-size: 40px;
    font-family: serif;
    font-weight: bold;
    text-decoration: none;
    color: #323232;
}

#login > .desc {
    margin-bottom: 32px;
    font-size: 14px;
    color: #777;
}


/* ===============================
   form box
=============================== */

#login > form {
    width: 100%;
    padding: 32px;
    box-shadow: 0 0 1px rgba(0,0,0,.2),0 0 4px rgba(0,0,0,.02),0 12px 36px rgba(0,0,0,.06);
    border-radius: 24px;
    border: 1px solid #eee;
}


/* ===============================
   input fields
=============================== */
#login > form > .fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#login > form > .fields > p {
    display: flex;
    gap: 12px;
}

#login > form > .fields > .keep {
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 8px;
}

#login > form > .fields > .buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#login > form > .fields > .buttons > a {
    font-size: 14px;
    text-decoration: none;
    color: #323232;
}

#login > form > .fields > p > .text {
    width: 100%;
    height: 42px;
    padding: 0 12px;
    border: 1px solid #323232;
    border-radius: 8px;
    box-sizing: border-box;
    outline: none;
}

/* ===============================
   buttons
=============================== */

button {
    width: 100%;
    height: 42px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
}

#login > form > .fields > p > button[type="submit"] {
    color: #eee;
    background: linear-gradient(135deg, #3a3a3a, #1f1f1f);
    transition: transform 0.15s ease, box-shadow 0.15s ease;
}

/* ===============================
   divider
=============================== */

#login > form > .divider {
    text-align: center;
    margin: 12px 0;
}

#login > form > .divider > span {
    font-size: 12px;
    color: #999;
}


/* ===============================
   social login
=============================== */

#login > form > .socials {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#login > form > .socials > button {
    background: #fff;
    border: 1px solid #aaa;
}
